*{
    width: auto;
    height: auto;
}
.container{
    background: #405262;
    width: 100%;
    height: 80vh;
    font-family: 'Poppins', sans-serif;
}
.login{
    width: 100%;
    margin: 40px;
    height: 50%;
}
.img-logo{
    width: 200px;
    height: 200px;
    padding-top: 50px;
    padding-bottom: 80px;
}
.header h1{
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 30px;
    text-align: center;
    color: white;
}
.login-form{
    width: 100%;
    height: 32px;
}
.login-form .sign-in{
    margin-top: 30px;
    width: 50%;
    height: 32px;
    background: #25A4DE;
    border-radius: 5px;
    
    border-color: #25A4DE;
    text-decoration: none;
}
.bg-login{
    width: 55%;
    height: 80vh;
    background-size: cover;
}
.login-form .sign-in a{
    text-decoration: none;
    background: #25A4DE;
    color: white;
}
.login-form .sign-in a:hover{
    text-decoration: none;
    width: 55%;
    height: 37px;
}


