*{
    font-family: 'Poppins', sans-serif;
    background: #405262;
    margin: 0;
}
.login{
    height: 100vh;
}
.header h1{
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 30px;
    text-align: center;
    color: white;
}
.login-form{
    width: 100%;
    height: 32px;
}
.login-form .sign-in{
    margin-top: 30px;
    width: 50%;
    height: 32px;
    background: #25A4DE;
    border-radius: 5px;
    color: white;
    border-color: #25A4DE;
}
.bg-login{
    width: 50%;
    height: 100vh;
}

