* {
    font-family: Poppins, sans-serif;
}

.col-sm-3 {
    width: 21%;
}

.sidebar {
    background-color: #405262;
    height: 100vh;
    position: fixed;
    width: 21vw;
}

.col-sm-9 {
    width: 79%;
}

.nav {
    padding: 0;
}

.container-sm {
    align-self: flex-end;
}

#inputSearch {
    font-size: small;
}

#inputSearch:hover {
    border: 1px solid rgba(43, 147, 239, 1);
}

.btn {
    background-color: #25a4de;
    color: white;
}

.btn:hover {
    background-color: #1e83b2;
    color: white;
}

.row {
    margin-top: 1.5rem;
}

table {
    background-color: rgba(0, 242, 254, 0.1);
}

/* Kharis */

.navbar-side {
    justify-content: center;
    display: grid;
}
.navbar-side button {
    display: block;
    color: black;
    background-color: white;
    margin-bottom: 22px;
    padding: 10px 25px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 400;
    border: 0.5px solid white;
    text-align: left;
}
.navbar-side button:hover {
    cursor: pointer;
    background-color: #00f2fe;
    color: black;
    border: 0.5px solid black;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    overflow: hidden;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-property: color, background-color;
    transition-property: color, background-color;
}
.home {
    display: grid;
    justify-content: center;
    padding: 71px 0px;
}
.home a {
    color: black;
}
.home a:hover {
    color: white;
    text-shadow: 1px 1px 7px black;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(3px) translateZ(1);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    overflow: hidden;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.4s;
    -webkit-transition-property: color, background-color;
    transition-property: color, background-color;
}
/* end sidebar */
nav {
    display: flex;
    /* background-color: #405262; */
    align-items: center;
    justify-content: end;
    width: 100%;
    height: 100px;
    border: none;
}
.profil {
    display: flex;
    align-items: center;
    justify-content: end;
    margin-right: 20px;
}
.profil h5 {
    color: black;
}
.profil img {
    margin-left: 15px;
    border-radius: 40px;
}
.profil:hover {
    cursor: pointer;
}

/* Responsive tambahan */
@media (max-width: 576px) {
    .col-sm-3 {
        /* width: 100%;
        background-color: #405262;
        border-bottom: 1px solid white;
        margin: 0; */
        display: none;
    }
    .col-sm-9 {
        width: 100%;
    }
    /* .sidebar {
        background-color: #1e83b2;
        height: fit-content;
        position: relative;
        width: 100%;
    } */
    /* .navbar-side {
        display: grid;
        justify-content: normal;
        vertical-align: middle;
    } */
    /* .logo {
        display: none;
    } */
    /* .navbar-side button {
        margin-bottom: 5px;
        padding: 0;
        font-size: 10px;
        text-align: center;
    } */
    /* .home {
        display: none;
    } */
}
