* {
    font-family: Poppins, sans-serif;
}

.btn {
    background-color: #25a4de;
    color: white;
}

.btn:hover {
    background-color: #1e83b2;
    color: white;
}

.row {
    margin-top: 1.5rem;
}

table tr td {
    overflow: hidden;
    text-overflow: ellipsis;
}
table {
    width: 100%;
    background-color: rgba(0, 242, 254, 0.1);
}
