* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* parent layout */
/* layout */

/* start sidebar */
aside {
  background-color: #405262;
  width: 255px;
  height: 100vh;
  position: fixed;
}
.container {
  width: 255px;
  border: none;
}
.logo {
  display: grid;
  justify-content: center;
  padding: 60px 0px;
}
.navbar {
  justify-content: center;
  display: grid;
}
.navbar a {
  text-decoration: none;
}
.navbar button {
  display: block;
  width: 170px;
  color: black;
  background-color: white;
  margin-bottom: 22px;
  padding: 10px 25px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 400;
  border: 0.5px solid white;
  text-align: left;
}
.navbar button:hover {
  cursor: pointer;
  background-color: #00f2fe;
  color: black;
  border: 0.5px solid black;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  overflow: hidden;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}
.home {
  display: grid;
  justify-content: center;
  padding: 71px 0px;
}
.home a {
  color: black;
}
.home a:hover {
  color: white;
  text-shadow: 1px 1px 7px black;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(3px) translateZ(1);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  overflow: hidden;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.4s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}
/* end sidebar */

.global {
  margin-left: 255px;
}
/* start nav */
.nav {
  display: flex;
  background-color: #405262;
  align-items: center;
  justify-content: end;
  width: 100%;
  height: 100px;
  border: none;
}
.profil {
  display: flex;
  align-items: center;
  justify-content: end;
  margin-right: 20px;
}
.profil h5 {
  color: white;
}
.profil img {
  margin-left: 15px;
  border-radius: 40px;
}
.profil:hover {
  cursor: pointer;
}
/* end nav */
