* {
    width: auto;
    height: auto;
    margin: auto;
    background-color: #405262;
}
body {
    background-color: #405262;
}
.container {
    width: 100%;
    height: 100%;
    font-family: "Poppins", sans-serif;
    padding: 40px;
}
.login {
    width: auto;
    background: #405262;
}
.login-left {
    margin-top: 10px;
    width: 50%;
    height: 100%;
}
.img-logo {
    width: 200px;
    height: 200px;
    padding-top: 30px;
    padding-bottom: 60px;
}
.header h1 {
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 30px;
    text-align: center;
    color: white;
}
.login-form {
    width: 100%;
    height: 32px;
}
.login-form .sign-in {
    margin-top: 30px;
    width: 50%;
    height: 32px;
    background: #25a4de;
    border-radius: 5px;

    border-color: #25a4de;
    text-decoration: none;
}
.bg-login {
    width: 100%;
    height: 80vh;
    background-size: cover;
}
.login-form .sign-in a {
    text-decoration: none;
    background: #25a4de;
    color: white;
}
.login-form .sign-in a:hover {
    text-decoration: none;
    width: 55%;
    height: 37px;
}
